{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1>Password Management</h1>
    <h6 class="instructions_password">Your new password must contain at least 8 charachters of which one should be a special charachter.</h6>
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="newpassword" placeholder="Enter a new password" type="password">
        </div>
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="confirmation" placeholder="Retype new password" type="password">
        </div>
        <button style="margin-top: 10px;" class="btn btn-primary" id="newpasswordbutton" type="submit">Update My Password</button>
    </form>
{% endblock %}